.container {
    display: flex;
    margin-top: 20px;
    padding: 0px 0px;
}

.tituloPrincipal strong {
    color: #198754;
}



@media(max-width:800px) {
    .titulo {
        width: 50%;
        overflow: scroll;
    }

    #experiencia {
        padding: 10px;
    }

    .container {
        margin-top: 35px;
    }

    .tituloPrincipal {
        position: relative;
        left: 8px;
    }
}