.acercaDe {
    background-image: url(https://img.freepik.com/vector-gratis/robot-humano_53876-90440.jpg?w=740&t=st=1662168002~exp=1662168602~hmac=58351af829e29d7b483e914d33eafa6db808a83184299eb868970b0c9661bf44);
    width: 100%;
    height: 110vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.acercaDe__informacion {
    display: flex;
    width: 100%;
}

.acercaDe__informacion--biografia {
    color: #fff;
    width: 60%;
    padding: 15px 20px;

}

.acercaDe__informacion--biografia h1 {
    text-align: center;
}

.acercaDe__informacion--perfil {
    display: flex;
    position: relative;
    width: 40%;
    flex-direction: column;
    color: #fff;
}

.acercaDe__informacion--perfil #foto-perfil {
    border-radius: 50%;
    width: 200px;
    margin-top: 20px;
    position: absolute;
}


.info-perfil {
    text-align: center;
}

.acercaDe__informacion--mano-transparente {
    width: 200px;
    height: 200px;
}

.acercaDe__informacion--perfil #mano-transparente {
    position: relative;
    z-index: 1;
    left: 9rem;
    margin-top: 20px;
}



#btnEdicion {
    margin-bottom: 10px;
    position: relative;
    right: 74px;
    z-index: 2;
    border-radius: 50%;
    background: #46a2fd;
}

.animacion {
    background-color: rgba(0, 0, 0, 0.5);
    width: 56%;
    height: 31vh;
    margin: 0 auto;
    left: 30px;
    top: 10px;
    border-radius: 10px;
    box-shadow: 15px 5px 10px green;
    border: 2px solid green;
    text-align: center;
    position: relative;

}

.animacion img {
    width: 100%;
    height: 76%;
    left: 2px;
   position: absolute;
    border-radius: 10px;
    z-index: 0;
}

.animacion strong {
    z-index: 2;
    color: green;
    bottom: 5px;
  
}

@media(max-width:600px){
    .acercaDe{
        height: 150vh;
    }
    .acercaDe__informacion {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;  
    }
    .acercaDe__informacion--perfil #foto-perfil {
        border-radius: 50%;
        width: 200px;
        margin-top: 4px;
        position: absolute;
    }
    .acercaDe__informacion--perfil #mano-transparente{
        position: relative;
        z-index: 1;
        left: 9rem;
        margin-top: 18px;
    }

    #mano-transparente{
        margin-top: 18px;
    }

@media(max-width:368px) {
    .acercaDe{
        height: 145vh;
    }

    .acercaDe__informacion {
        flex-direction: column-reverse;
    }

    .acercaDe__informacion--biografia {
        bottom: 45px;
        position: relative;
        width: 100%;
    }

    .acercaDe__informacion--perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 347px;
    }

    .info-perfil {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

    }


    #foto-perfil {
        position: relative;
        left: 12px;
        bottom: 130px;
        width: 189px;
    }

    #btnEdicion {
        left: 120px;
        width: 50px;
    }

    .animacion {
        bottom: 30px;
        width: 88%;
        left: 0px;
        position: relative;
        top: 0px;
    }

    @media (max-width:360px){
        .acercaDe__informacion--perfil #mano-transparente{
        position: relative;
        z-index: 1;
        left: 5rem;
        margin-top: 0px;
      }
    
}
}
}