<div class="acercaDe" id="btn-sobreMi" @enterState>

    <section class="acercaDe__informacion">   
            <div class="acercaDe__informacion--biografia">
              <h1>Acerca de mí</h1>
              <p>{{persona.descripcion}}</p>
            </div>    
            <div class="acercaDe__informacion--perfil">
              <div class="acercaDe__informacion--mano-transparente">
                <img id="mano-transparente" src=".././../assets/robot-humano_53876-90440-removebg-preview.png" alt="" width="100%">
              </div>
            
               <img id="foto-perfil" src="{{persona.img}}">
            
               <article class="info-perfil">
               <button id="btnEdicion" class="btn btn-light" *ngIf="isLogged" routerLink="editpersona/{{persona.id}}">
                <i class="bi bi-pencil-fill"></i> </button>
                <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                <p>{{persona.ubicacion}}</p>
               </article>
               
             </div>
</section>

<div class="animacion">
  <h1><strong>Lo imagine, lo programe</strong></h1>
        <img src="{{persona.animacion}}" alt="">
      </div>
</div>

