<div class="contacto" id="contacto"><section >
    <div id="contact" class="contact">
        <h2 class="contact-title">Ponerse en contacto</h2>
        <p><strong> Ahora mismo estoy abierto a nuevas oportunidades y experiencias. Si tiene alguna pregunta, no dude en ponerse en contacto conmigo en cualquier momento..</strong></p>
        <div class="btn-email">
            <a class="email-link" href="mailto:nan_alaobra@hotmail.com">Contactame</a>
    
        </div>
    </div>
</section>
</div>

