<div class="footer" id="footer">


  <!--boton de ir hacia arrba-->
  <div id="botonArriba">
    <a href="#btn-subir"><button id="btn-subir"><i class="fa fa-angle-up" aria-hidden="true"
          routerLink="#encabezado"></i></button></a>

  </div>

  <div class="imagenFooter">
    <img src="../../assets/images-removebg-preview.png" alt="">

    <p class="copyright">&copy Copyright Nancy Echeverria - 2022</p>
  </div>


  <div class="gracias">
<img src="http://img20.xooimage.com/files/f/7/a/y5onuoswidgi-dde368.gif" alt="">
  </div>

</div>