/*estilos footer*/
.footer {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/001/632/448/small/dark-blue-stripes-geometric-overlapping-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    position: relative;
    width: 100%;
}

.imagenFooter {
    background-color: rgba(0, 167, 65, 0.7);
    border: 2px solid blue;
    border-radius: 20px;
    height: 50vh;
    left: 0px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    top: 10%;
    width: 40%;
}

.imagenFooter img {
    margin-top: 30px;
    position: relative;
    width: 70%;
}

#btn-subir {
    background: inherit;
    border: 0px;
    border-radius: 50%;
}

.gracias {
    background-repeat: no-repeat;
    bottom: 0px;
    height: 40vh;
    left: 35%;
    position: absolute;
    width: 40%;
}

@media(max-width:1200px) {
    .gracias {
        left: 30%;
    }

    @media(max-width:800px) {
        #botonArriba {
            border: 2px red solid;
            bottom: 20%;
            left: 294px;
            position: fixed;
            z-index: 5;
        }

        .imagenFooter {
            width: 100%;
        }

        .gracias {
            left: 3px;
            padding: 30px;
            position: absolute;
            width: 100%;
        }

        .gracias img {
            width: 100%;

        }
    }
}