.mat-card {
   float: right;
   right: 25%;
   width: 50%
}

.container {
   display: block;
}

#Cerrar {
   height: 10%;
   left: 0;
   margin-bottom: 5px;
   margin: 0px;
   position: absolute;
   top: 5px; 
   width: 100%;
}

#cancelar {
   position: absolute;
   right: 10px;
}

form {
   margin-top: 50px;
}

label {
   color: white;
   font-size: 15px; 
}

@media(max-width:1200px) {
   .edicion {
      padding: 10px;
      position: relative;
   }

   .mat-card {
      position: absolute;
      right: 11px;
      width: 94%;
   }
}