@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/*codigos del header*/
.encabezado {
    align-items: center;
    background: url(https://img.freepik.com/fotos-premium/transformacion-digital-conceptual-era-tecnologica-proxima-generacion_109643-131.jpg?size=626&ext=jpg&ga=GA1.2.731408403.1659461106) no-repeat center / cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    
}

.encabezado__informacion {
    position: relative;
    right: 8.5rem;
    text-align: center;
    width: 700px;
    z-index: 2;
}

.encabezado__informacion__redes__redesMovile__lista {
    display: none;
    justify-content: center;
}

.encabezado__informacion__tituloPrincipal h1 {
    color: white;
    font-family: "Sofia", sans-serif;
    font-size: 60px;
    text-shadow: 5px -5px 3px rgba(0, 0, 0, 0.8);
}

.encabezado__informacion__btnDireccion__lista {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 50px;
    width: 700px;
}


.botonesDireccion {
    position: relative;
    top: 55px;  
}
@media(max-width:600px){
.encabezado__informacion{
    right: 0px;
    z-index: 1;
}
.encabezado__informacion__tituloPrincipal h1 {
    font-size: 53px;
    
}
.encabezado__informacion__btnDireccion__lista{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
    width: 580px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    width: 176px;
    margin-top: 5px;
}
@media (max-width:368px) {
    .encabezado{
        padding: 70px;
        align-items:flex-start;
    }
    .encabezado__informacion__tituloPrincipal h1 {
        font-size: 37px;
    }

    .encabezado__informacion {
        height: 200px;
        right: 0px;
        width: 100%;   
    }

    .encabezado__informacion__redes__redesMovile__lista {
        display: flex;
        list-style: none;
    }

    .encabezado__informacion__btnDireccion {
        position: relative;
        width: 100%;
    }

    .encabezado__informacion__btnDireccion__lista {
        flex-wrap: wrap;
        justify-content:left;
        width: 100%; 
    }


    .encabezado__informacion__btnDireccion__lista__item{
        margin:5px;
    }

}
}