<header id="btn-subir" class="encabezado">

  <section class="encabezado__informacion">

    <div class="encabezado__informacion__redes">
      <nav class="encabezado__informacion__redes__redesMovile">
        <ul class="encabezado__informacion__redes__redesMovile__lista">
          <li class="encabezado__informacion__redes__redesMovile__lista__item">
            <a href="https://www.facebook.com/nancy.echeverria.56">
              <img src="../../assets/Logo Facebook.png" width="50px" height="40px" id="facebook">
            </a>
          </li>
          <li class="encabezado__informacion__redes__redesMovile__lista__item">
            <a href="https://github.com/FacNan2022">
              <img src="../../assets/Logo Github.png" width="90px" height="50px" id="github">
            </a>
          </li>
          <li class="encabezado__informacion__redes__redesMovile__lista__item">
            <a href="https://www.linkedin.com/in/nancy-echeverria-8b66ab23b/"><img id="linkedin"
                src="../../assets/Logo Linkedin.png" width="100px" height="40px"></a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="encabezado__informacion__tituloPrincipal">
      <h1 class="animate__animated animate__lightSpeedInRight">Bienvenido a mi Portfolio</h1>
    </div>



    <nav class="encabezado__informacion__btnDireccion">
      <ul class="encabezado__informacion__btnDireccion__lista">
        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#btn-sobreMi"> <button
              class="btn btn-success">
              Acerca de Mí
            </button></a></li>
        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#educacion"><button
              class="btn btn-success">Educacion</button></a></li>

        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#experiencia"><button
              class="btn btn-success">Experiencia</button></a></li>

        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#skills"><button
              class="btn btn-success">Skills</button></a></li>

        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#proyectos"><button
              class="btn btn-success">Proyectos</button></a></li>
        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#contacto"><button
              class="btn btn-success">Contacto</button></a></li>
        <li class="encabezado__informacion__btnDireccion__lista__item"><a href="#footer"><button
              class="btn btn-success">Footer</button></a></li>
      </ul>
    </nav>

  </section>

</header>