<div class="card mat-card" id="firstcard" @enterState>
    
    <div id="portada" >
       
        <div id="video">
          <video autoplay="autoplay" source src="{{persona.portada}}" type="video/mp4" ></video>
          
        </div>
        <button id="btnEdicion" *ngIf="isLogged" class="btn btn-light" routerLink="editpersona/{{persona.id}}">
            <i class="bi bi-pencil-fill"></i> </button>
    </div>
    <div id="foto-perfil" >
        <img src="{{persona.img}}">
    </div>
    <div id="info-perfil">
        <h1> {{persona.nombre}} {{persona.apellido}}</h1>
        <h3>{{persona.ubicacion}}</h3>
       
    </div>
   
</div>
