<div class="card mat-card">
    <div class="row">
        <div>
            <div> <div id="Cerrar"><a href=""><button class ="btn-outline-primary" id="cancelar"><i class="bi bi-x-octagon-fill"></i></button></a></div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion de la tarea</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                    [(ngModel)]="descripcion" required>
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen</label>
                    <input type="text" class="form-control" id="imagen" name="imagen"
                    [(ngModel)]="imagen" required>
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="text" class="form-control" id="link" name="link"
                    [(ngModel)]="link" required>
                </div>
                <button class="btn btn-primary">
                    Agregar Proyecto
                </button>
            </form>
        </div>
    </div>
</div>

