/*estilos de proyecto*/
.proyectos {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzC86z0FXFXwEw_-ABH1Ob4yZCIxKZ3jH_yw&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px black;
    height: auto;
    width: 100%;
}

.tituloPrincipal strong{
    color: black;
}

.listaProyectos {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: 30px;
    width: 100%;
}

.proyecto {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 50vh;
    margin: 10px;
    position: relative;
    transition: 3s;
    width: 250px;
}

.proyecto:hover{
    transform: rotatey(380deg);
}

.botones{
    height: 4.6vh;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 1;

}
.botones button{
    border-radius: 50%;
}
.eliminar{
    position: absolute;
    right: 0px;
}

.editar{
    position: absolute;
    right: 35px;
}
.imagen {
    border: 2px solid blue;
    height: 50%;
    margin: 10px 10px 0px;
    position: relative;

}

.imagen img {
    height: 100%;
    width: 100%;
}

.info-proyecto {
    border: 2px solid blue;
    color: white;
    height: 140px;
    margin: 0px 10px;
    margin-top: 0px;
    overflow: scroll;
    padding: 10px;
    text-align: center; 
}
@media(max-width:900px){
    .proyectos{
        height: auto;
        overflow: scroll;
      
    }
    .listaProyectos{
        display:inline;
        height:auto;
        width: 100%;  
    }

    .proyecto{
        left:20px;
        margin-top: 10px;
        position:relative;
        top:30px;
        width:300px;  
    }

    .btn-dark {
        margin: 20px 20px;
        position: absolute;
        right: 0px;   
    }
    .tituloPrincipal{
        left:113px;
        position: relative;
    }
}

