
    <div class="proyectos" id="proyectos"@enterState>
      <button type="button" class="btn btn-dark" routerLink="/nuevoproyecto" *ngIf="isLogged"><i class="fa-solid fa-plus"></i></button>
        <div class="listaProyectos">
  
          <div class="proyecto"*ngFor="let Proyectos of pro">
 
            <div class="imagen">
              <div class="botones"*ngIf= "isLogged">
                <button class="editar" routerLink="/editproyectos/{{Proyectos.id}}">
                  <i class="bi bi-pencil-fill"></i></button> 
                  <button class="eliminar" (click)="delete(Proyectos.id)">
                    <i class="bi bi-trash-fill"></i> </button>
              </div>
              <a href="{{Proyectos.link}}"><img
                  src="{{Proyectos.imagen}}"
                  alt=""></a>
            </div>
  
            <div class="info-proyecto">
              <h1>{{Proyectos.nombre}}</h1>
              <p>{{Proyectos.descripcion}}</p>
            </div>
  
          </div>
       
        </div>
  
      </div>
     
     
    