nav {
    position: relative;
    padding: 0;
    margin: 2px 2px;
    background-color:red;
}

h1#Bienvenido {
    position: absolute;
    right: 40%;
    bottom: 4%;
    top: 8%;
    font-family: 'Tangerine', cursive;
    font-size: 50px;
}

img#argentinaPrograma {
    border-radius: 50%;


}


button {
    position: absolute;
    bottom: 22%;
    right: 1%;

}


img#facebook {
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 13%;
}

img#instagram {
    border-radius: 50%;
    position: absolute;
    right: 14%;
    width: 3%;
    height: 55%;
    top: 25%;
}

img#github {
    border-radius: 60%;
    position: absolute;
    right: 17%;
    top: 20%;
}

img#linkedin {
    border-radius: 50%;
    position: absolute;
    right: 24%;
    top: 30%;

}
div#navbarToggleExternalContent{
    position: relative;
}