<div class="educacion" id="educacion"@enterState >
  <button type="button" class="btn btn-dark" *ngIf="isLogged" routerLink="nuevaeducacion">
    <i class="fa-solid fa-plus"></i>
</button>
<section id="contenido-educacion" *ngFor="let Educacion of edu">
  <div class="info-educacion container" >   
    <div class="titulo" >
      <h2>{{Educacion.institucion}}</h2>
      <h2>{{Educacion.titulo}}</h2>
      
    </div>

    <div class="descripcion" >
      <div class="info">
        <h2>{{Educacion.fechaInicio}}/{{Educacion.fechaFinalizacion}}</h2>
        <h2>{{Educacion.orientacion}}</h2>
      </div>
    
    <div class="botones">
     
        <button class="editar" routerLink="/editeducacion/{{Educacion.id}}"*ngIf="isLogged">
        <i class="bi bi-pencil-fill"></i></button>
  
       <button class="eliminar" (click)="delete(Educacion.id)"*ngIf="isLogged">
        <i class="bi bi-trash-fill"></i></button>
       
    </div>
    
  </div>
  </div>

</section>
</div>
    
