.container {
    display: flex;
    margin-top: 20px;
    padding: 0px 0px; 
}

.tituloPrincipal strong{
    color: #198754;
}

@media(max-width:800px){
   .container{
    margin-top: 35px;
   }
    #educacion{
        padding:10px;
    }
  
    .titulo {
        width: 50%;
        overflow: scroll;
    }
    .descripcion{
        overflow:auto;
        width:50%;
    }
    #editar{
        position:fixed;
    }
    #eliminar{
        position:fixed;
    }

    .tituloPrincipal{
        left:8px;
        position: relative;
        
    }
}



